// Colors
$base: #f5f5f5ed;
$white: #fff;
$black: #474735;
$gray: #484848;
$text_gray: #474735;
$light_gray: #787878;
$light_green: #19cd8c;

//font-family 
$primary-font: Montserrat,sans-serif;

//font-size
$fontsize_big:2.8rem;
$fontsize_medium:1.5rem;
$fontsize_normal:1.3rem;
$fontsize_lit:1.1rem;

// //media-query
// $cellphone:px;
// $tablet:640px;
// $desktop:1025px;